apiVersion: v1
kind: Service
metadata:
  name: mindx-web-service
  labels:
    app: mindx-web
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: mindx-web
